<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>User controller</servlet-name>
        <servlet-class>by.varaksa.cardealer.controller.UserController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>User controller</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>User controller</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>User controller</servlet-name>
        <url-pattern>/save</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>User controller</servlet-name>
        <url-pattern>/find-all</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>User controller</servlet-name>
        <url-pattern>/find-by-id</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>User controller</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>User controller</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>Delete page</servlet-name>
        <jsp-file>/WEB-INF/jsp/user/delete.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Delete page</servlet-name>
        <url-pattern>/delete-page</url-pattern>
    </servlet-mapping>






    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/WEB-INF/jsp/user/login.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login-auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Authenticate</servlet-name>
        <jsp-file>/WEB-INF/jsp/company/mainMenu.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Authenticate</servlet-name>
        <url-pattern>/main-menu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Register</servlet-name>
        <jsp-file>/WEB-INF/jsp/user/register.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register-page</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Users list</servlet-name>
        <jsp-file>/WEB-INF/jsp/user/findAll.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Users list</servlet-name>
        <url-pattern>/find-all-users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Company story</servlet-name>
        <jsp-file>/WEB-INF/jsp/company/company.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Company story</servlet-name>
        <url-pattern>/company</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Company contacts</servlet-name>
        <jsp-file>/WEB-INF/jsp/company/contacts.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Company contacts</servlet-name>
        <url-pattern>/request-information</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Error page</servlet-name>
        <jsp-file>/WEB-INF/jsp/error.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Error page</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>

</web-app>
