<web-app id="WebApp_ID" version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>Home page</servlet-name>
        <servlet-class>by.varaksa.cardealer.controller.UserController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Home page</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>User login page</servlet-name>
        <jsp-file>/WEB-INF/jsp/login.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>User login page</servlet-name>
        <url-pattern>/login-auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>User register page</servlet-name>
        <jsp-file>/WEB-INF/jsp/register.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>User register page</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Company story page</servlet-name>
        <jsp-file>/WEB-INF/jsp/company.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Company story page</servlet-name>
        <url-pattern>/company</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Company contacts page</servlet-name>
        <jsp-file>/WEB-INF/jsp/contacts.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Company contacts page</servlet-name>
        <url-pattern>/request-information</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>User login success</servlet-name>
        <jsp-file>/WEB-INF/jsp/loginsuccess.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>User login success</servlet-name>
        <url-pattern>/loginsuccess</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Error page</servlet-name>
        <jsp-file>/WEB-INF/jsp/error.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>Error page</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>

</web-app>
